html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  background:#302b2b;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* Font */
@font-face {
  font-family: neon;
  src: url("font/pdark-webfont.woff") format("woff");
}

/* Titolo Neon */
.titolo {
  display: absolute;
  text-align: center;
  vertical-align: top;
  position: absolute;
  top: 1rem;
  left: 0rem;
  width: 100%;
  font-family: neon;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 .5vw #323637, 0 0 1.5vw #323637, 0 0 5vw #323637, 0 0 5vw #323637, 0 0 .2vw #323637, .5vw .5vw .1vw #7895AA;
  color: #BA4D3E;
}

.desc {
  display: absolute;
  text-align: center;
  vertical-align: top;
  position: absolute;
  top: 10rem;
  left: 0rem;
  width: 100%;
  font-size: 2vw;
  line-height: 2vw;
  color: #4C7C44;
  font-family: neon;
}

.container_icons {
  display: absolute;
  text-align: center;
  position: absolute;
  top: 20rem;
  width: 100%;
}

.fa-github {
  position: absolute;
  transform: scale(6);
  color: #1a1a20;
  transition: transform 0.25s;
  left: 33.5rem;
}

.fa-github:hover {
  position: absolute;
  transform: scale(8);
  color: #1a1a20;
  left: 33.5rem;
}

.fa-instagram {
  position: absolute;
  transform: scale(6);
  color: #910e79;
  transition: transform 0.25s;
  left: 41rem;
}

.fa-instagram:hover {
  position: absolute;
  transform: scale(8);
  color: #db16b7;
  left: 41rem;
}

.fa-telegram {
  position: absolute;
  transform: scale(6);
  color: #0194aa;
  transition: transform 0.25s;
  right: 41rem;
}

.fa-telegram:hover {
  position: absolute;
  transform: scale(8);
  color: #0bc2df;
  right: 41rem;
}

.fa-youtube {
  position: absolute;
  transform: scale(6);
  color: #700303;
  transition: transform 0.25s;
  right: 33rem;
}

.fa-youtube:hover {
  position: absolute;
  transform: scale(8);
  color: #c50f0f;
  right: 33rem;
}

/* Sfondo */

.container-sfondo {
  position: relative;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sfondo {
  position: relative;
  background-image: url("immagini/stanza.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -ms-filter: blur(8px);
  -o-filter: blur(8px);
}
