html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  background:#302b2b;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* Font */
@font-face {
  font-family: future-font;
  src: url("font/pdark-webfont.woff") format("woff");
}

/* Desktops */

@media (max-width: 1920px) {

  /* Titolo */
  .titolo {
    display: absolute;
    text-align: center;
    vertical-align: top;
    position:absolute;
    top: 1%;
    left: 0%;
    width: 100%;
    min-height: 100%;
    font-family: future-font;
    font-size: 9vw;
    line-height: 9vw;
    text-shadow: 0 0 .5vw #323637, 0 0 1.5vw #323637, 0 0 5vw #323637, 0 0 5vw #323637, 0 0 .2vw #323637, .5vw .5vw .1vw #7895AA;
    color: #BA4D3E;
  }

  /* Description */
  .desc {
    display: absolute;
    text-align: center;
    vertical-align: top;
    position:fixed;
    float: top;
    top: 20%;
    left: 0%;
    width: 100%;
    font-size: 2vw;
    line-height: 2vw;
    color: #8cb67b;
    font-family: future-font;
  }

  /* Container Icons */
  .container-icons {
    display: absolute;
    text-align:center;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 50%;
  }

  .container-icons a{
    float: left;
    width: 20%;
    min-width: 100px;
    text-align: center;
    padding: 50px 6px;
  }

  /* Icon GitHub */
  .container-icons .fa-github {
    transform: scale(6);
    color: #25201cd7;
    transition: transform 0.25s;
  }

  .container-icons .fa-github:hover {
    transform:scale(8);
    color: #2e2d2d;
  }

  /* Icon Instagram */
  .container-icons .fa-instagram {
    transform: scale(6);
    color: #623f88;
    transition: transform 0.25s;
  }

  .container-icons .fa-instagram:hover {
    transform: scale(8);
    color: #a271d6;
  }

  /* Icon Telegram */
  .container-icons .fa-telegram {
    transform: scale(6);
    color: #98C0E4;
    transition: transform 0.25s;
  }

  .container-icons .fa-telegram:hover {
    transform: scale(8);
    color: #7bc0fd;
  }

  /* Icon YouTube */
  .container-icons .fa-youtube {
    transform: scale(6);
    color: #7E2524;
    transition: transform 0.25s;
  }

  .container-icons .fa-youtube:hover {
    transform: scale(8);
    color: #b31f1c;
  }

  /* Sfondo */
  .container-sfondo {
    position: relative;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sfondo {
    position: relative;
    background-image: url("immagini/stanza.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -ms-filter: blur(8px);
    -o-filter: blur(8px);
  }
}

/* Laptops */

@media (max-width: 1100px) {

  /* Titolo */
  .titolo {
    display: absolute;
    text-align: center;
    vertical-align: top;
    position:absolute;
    top: 4%;
    left: 0%;
    width: 100%;
    min-height: 100%;
    font-family: future-font;
    font-size: 14vw;
    line-height: 9vw;
    text-shadow: 0 0 .5vw #323637, 0 0 1.5vw #323637, 0 0 5vw #323637, 0 0 5vw #323637, 0 0 .2vw #323637, .5vw .5vw .1vw #7895AA;
    color: #BA4D3E;
  }

  /* Description */
  .desc {
    display: absolute;
    text-align: center;
    vertical-align: top;
    position:fixed;
    float: top;
    top: 20%;
    left: 0%;
    width: 100%;
    font-size: 4vw;
    line-height: 2vw;
    color: #8cb67b;
    font-family: future-font;
  }

  /* Container Icons */
  .container-icons {
    display: absolute;
    text-align:center;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 50%;
  }

  .container-icons a{
    float: left;
    width: 20%;
    min-width: 100px;
    text-align: center;
    padding: 50px 6px;
  }

  /* Icon GitHub */
  .container-icons .fa-github {
    transform: scale(6);
    color: #25201cd7;
    transition: transform 0.25s;
  }

  .container-icons .fa-github:hover {
    transform:scale(8);
    color: #2e2d2d;
  }

  /* Icon Instagram */
  .container-icons .fa-instagram {
    transform: scale(6);
    color: #623f88;
    transition: transform 0.25s;
  }

  .container-icons .fa-instagram:hover {
    transform: scale(8);
    color: #a271d6;
  }

  /* Icon Telegram */
  .container-icons .fa-telegram {
    transform: scale(6);
    color: #98C0E4;
    transition: transform 0.25s;
  }

  .container-icons .fa-telegram:hover {
    transform: scale(8);
    color: #7bc0fd;
  }

  /* Icon YouTube */
  .container-icons .fa-youtube {
    transform: scale(6);
    color: #7E2524;
    transition: transform 0.25s;
  }

  .container-icons .fa-youtube:hover {
    transform: scale(8);
    color: #b31f1c;
  }

  /* Sfondo */
  .container-sfondo {
    position: relative;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sfondo {
    position: relative;
    background-image: url("immagini/stanza.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -ms-filter: blur(8px);
    -o-filter: blur(8px);
  }
}

/* iPhones */

@media (max-width: 376px) {
  /* Titolo */
  .titolo {
    display: absolute;
    text-align: center;
    vertical-align: top;
    position:absolute;
    top: 4%;
    left: 0%;
    width: 100%;
    min-height: 100%;
    font-family: future-font;
    font-size: 18vw;
    line-height: 9vw;
    text-shadow: 0 0 .5vw #323637, 0 0 1.5vw #323637, 0 0 5vw #323637, 0 0 5vw #323637, 0 0 .2vw #323637, .5vw .5vw .1vw #7895AA;
    color: #BA4D3E;
  }
  
  /* Description */
  .desc {
    display: absolute;
    text-align: center;
    vertical-align: top;
    position:fixed;
    float: top;
    top: 15%;
    left: 0%;
    width: 100%;
    font-size: 6vw;
    line-height: 2vw;
    color: #8cb67b;
    font-family: future-font;
  }
  
  /* Icon GitHub */
  .container-icons .fa-github {
    color: #25201cd7;
  }
  
  /* Icon Instagram */
  .container-icons .fa-instagram {
    color: #623f88;
  }
  
  /* Icon Telegram */
  .container-icons .fa-telegram {
    color: #98C0E4;
  }
  
  /* Icon YouTube */
  .container-icons .fa-youtube {
    color: #7E2524;
  }
  
  /* Sfondo */
  .container-sfondo {
    position: relative;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .sfondo {
    position: relative;
    background-image: url("immagini/stanza.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -ms-filter: blur(8px);
    -o-filter: blur(8px);
  }

  /* iPhone X */
  @media (max-height: 812px) {
    /* Container Icons */
    .container-icons {
      display: absolute;
      text-align:center;
      position: absolute;
      top: 50%;
      left: 55%;
      transform: translate(-50%, -50%);
      height: 50%;
    }

    .container-icons a{
      float: center;
      height: 20%;
      min-width: 100px;
      text-align: center;
      padding: 12px 20px;
    }
  }


  /* iPhone 6/7/8 */
  @media (max-height: 668px) {

    /* Container Icons */
    .container-icons {
      display: absolute;
      text-align:center;
      position: absolute;
      top: 50%;
      left: 55%;
      transform: translate(-50%, -50%);
      height: 50%;
    }

    .container-icons a{
      float: center;
      height: 20%;
      min-width: 100px;
      text-align: center;
      padding: 20px 20px;
    }
  }
}

/* iPhone 6/7/8 Plus */
@media (max-width: 415px) {
  /* Titolo */
  .titolo {
    display: absolute;
    text-align: center;
    vertical-align: top;
    position:absolute;
    top: 4%;
    left: 0%;
    width: 100%;
    min-height: 100%;
    font-family: future-font;
    font-size: 18vw;
    line-height: 9vw;
    text-shadow: 0 0 .5vw #323637, 0 0 1.5vw #323637, 0 0 5vw #323637, 0 0 5vw #323637, 0 0 .2vw #323637, .5vw .5vw .1vw #7895AA;
    color: #BA4D3E;
  }
    
  /* Description */
  .desc {
    display: absolute;
    text-align: center;
    vertical-align: top;
    position:fixed;
    float: top;
    left: 0%;
    top: 15%;
    width: 100%;
    font-size: 6vw;
    line-height: 2vw;
    color: #8cb67b;
    font-family: future-font;
  }

  /* Container Icons */
  .container-icons {
    display: absolute;
    text-align:center;
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    height: 25%;
  }
  
  .container-icons a{
    float: center;
    height: 20%;
    min-width: 100px;
    text-align: center;
    padding: 35px 20px;
  }
    
  /* Icon GitHub */
  .container-icons .fa-github {
    color: #25201cd7;
  }
    
  /* Icon Instagram */
  .container-icons .fa-instagram {
    color: #623f88;
  }
    
  /* Icon Telegram */
  .container-icons .fa-telegram {
    color: #98C0E4;
  }
    
  /* Icon YouTube */
  .container-icons .fa-youtube {
    color: #7E2524;
  }
    
  /* Sfondo */
  .container-sfondo {
    position: relative;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
    
  .sfondo {
    position: relative;
    background-image: url("immagini/stanza.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -ms-filter: blur(8px);
    -o-filter: blur(8px);
  }
}

/* Xiaomi redmi note 7 */

@media (max-width: 361px) {
  /* Titolo */
  .titolo {
    display: absolute;
    text-align: center;
    vertical-align: top;
    position:absolute;
    top: 4%;
    left: 0%;
    width: 100%;
    min-height: 100%;
    font-family: future-font;
    font-size: 18vw;
    line-height: 9vw;
    text-shadow: 0 0 .5vw #323637, 0 0 1.5vw #323637, 0 0 5vw #323637, 0 0 5vw #323637, 0 0 .2vw #323637, .5vw .5vw .1vw #7895AA;
    color: #BA4D3E;
  }
    
  /* Description */
  .desc {
    display: absolute;
    text-align: center;
    vertical-align: top;
    position:fixed;
    float: top;
    left: 0%;
    top: 15%;
    width: 100%;
    font-size: 6vw;
    line-height: 2vw;
    color: #8cb67b;
    font-family: future-font;
  }

  /* Container Icons */
  .container-icons {
    display: absolute;
    text-align:center;
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
  
  .container-icons a{
    float: center;
    min-width: 100px;
    text-align: center;
    padding: 35px 20px;
  }
    
  /* Icon GitHub */
  .container-icons .fa-github {
    color: #25201cd7;
  }
    
  /* Icon Instagram */
  .container-icons .fa-instagram {
    color: #623f88;
  }
    
  /* Icon Telegram */
  .container-icons .fa-telegram {
    color: #98C0E4;
  }
    
  /* Icon YouTube */
  .container-icons .fa-youtube {
    color: #7E2524;
  }
    
  /* Sfondo */
  .container-sfondo {
    position: relative;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
    
  .sfondo {
    position: relative;
    background-image: url("immagini/stanza.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -ms-filter: blur(8px);
    -o-filter: blur(8px);
  }
}
