html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  background:#302b2b;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* Font */
@font-face {
  font-family: neon;
  src: url("font/pdark-webfont.woff") format("woff");
}

/* Titolo Neon */
.titolo {
  display: absolute;
  text-align: center;
  vertical-align: top;
  position: absolute;
  top: 1rem;
  left: 0rem;
  width: 100%;
  font-family: neon;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 .5vw #323637, 0 0 1.5vw #323637, 0 0 5vw #323637, 0 0 5vw #323637, 0 0 .2vw #323637, .5vw .5vw .1vw #7895AA;
  color: #BA4D3E;
}

.desc {
  display: absolute;
  text-align: center;
  vertical-align: top;
  position: absolute;
  top: 10rem;
  left: 0rem;
  width: 100%;
  font-size: 2vw;
  line-height: 2vw;
  color: #6A875F;
  font-family: neon;
}

.container-icons {
  display: absolute;
  text-align:center;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.container-icons a{
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
}

/* Titolo Neon 
[class^="fa-"], [class*=" fa-"] {
  display: block;
  width: 100%;
}
*/
.container-icons .fa-github {
  transform: scale(6);
  color: #25201cd7;
  transition: transform 0.25s;
}

.container-icons .fa-github:hover {
  transform:scale(8);
  color: #2e2d2d;
}

.container-icons .fa-instagram {
  transform: scale(6);
  color: #623f88;
  transition: transform 0.25s;
}

.container-icons .fa-instagram:hover {
  transform: scale(8);
  color: #a271d6;
}

.container-icons .fa-telegram {
  transform: scale(6);
  color: #98C0E4;
  transition: transform 0.25s;
}

.container-icons .fa-telegram:hover {
  transform: scale(8);
  color: #7bc0fd;
}

.container-icons .fa-youtube {
  transform: scale(6);
  color: #7E2524;
  transition: transform 0.25s;
}

.container-icons .fa-youtube:hover {
  transform: scale(8);
  color: #b31f1c;
}

/* Sfondo */

.container-sfondo {
  position: relative;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sfondo {
  position: relative;
  background-image: url("immagini/stanza.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -ms-filter: blur(8px);
  -o-filter: blur(8px);
}
