html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  background:#302b2b;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Titolo Neon */
.titolo {
  display: absolute;
  text-align: center;
  vertical-align: top;
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 4vw;
  line-height: 9vw;
  animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -ms-animation: neon 1s ease infinite;
  -o-animation: neon 1s ease infinite;
  color: #06b4ac;
}

/* Titolo Neon con hover */
.titolo:hover {
  animation: neon-hover 1s ease infinite;
  -webkit-animation: neon-hover 1s ease infinite;
  -moz-animation: neon-hover 1s ease infinite;
  -ms-animation: neon-hover 1s ease infinite;
  -o-animation: neon-hover 1s ease infinite;
}

/* Sfondo */
.sfondo {
  position: relative;
  background-image: url("immagini/pioggia.png"), url("immagini/sfondo_2.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.yt {
  vertical-align: top;
  display: absolute;
  position: absolute;
  top: 30%;
  left: 30%;
}
