html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  background:#302b2b;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* Sfondo */

.container-sfondo {
  position: relative;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sfondo {
  position: absolute;
  background-image: url("immagini/pioggia-no-blur.png"), url("immagini/angel_with_shotgun.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.yt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
}
